@media (hover: none) and (pointer: coarse) {
    #show-settings {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
    }

    #show-notes {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
    }

    #show-settings:active {
        filter: brightness(0.5);
    }

    #show-notes:active {
        filter: brightness(0.5);
    }
}

@media screen and (max-width: 600px) {
    html,
    body {
        font-size: 12px;
        overflow-y: auto;
    }

    #linkblocks.text,
    #linkblocks.inline {
        --folder-padding: 24px;
    }

    #interface {
        padding-bottom: 77px;
    }

    #show-settings button {
        height: 40px;
        width: 40px;
        border-radius: 10px;
    }

    #show-notes button {
        height: 40px;
        width: 40px;
        border-radius: 10px;
    }

    #show-settings img {
        width: 24px;
    }

    #show-notes svg {
        width: 24px;
        height: 24px;
    }
}

/* fix iPhone notch in landscape */
@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    body {
        padding: env(safe-area-inset);
        overflow-y: scroll;
    }

    #time {
        min-height: unset;
    }
}

/* touch screens! */
@media only screen and (hover: none) and (pointer: coarse) {
    #image-background-overlay {
        position: fixed;
    }
    button {
        font-size: 15px;
    }
}
