#background-credit.shown {
    max-height: 30px;
}

#background-credit .wrapper {
    color: var(--color-light-text);
    font-size: inherit;
    overflow: hidden;
}

#background-credit #credit-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#background-credit a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

#background-credit a:hover {
    opacity: 1;
    text-decoration: underline;
}
