/* Dropdowns: Options */

/* Dropdowns: Background Options */

#background-video-sound-options.shown {
    max-height: 70px;
}

#solid_options.shown {
    max-height: 400px;
}

#local_options.shown {
    max-height: 585px;
}

#background-urls-option.shown {
    /* 80vh is prism-code-editor size */
    max-height: calc(80vh + 80px);
}

.all #background-provider-option.shown {
    max-height: 170px;
}

#background-user-coll-option.shown {
    max-height: 105px;
}

#background-user-search-option.shown {
    max-height: 60px;
}

#background-file-options.shown {
    max-height: 180px;
}

#thumbnail-action-buttons.shown {
    max-height: 60px;
}

#background-freq-option.shown {
    max-height: 60px;
}

#background-filters-options.shown {
    max-height: 300px;
}

#background-texture-options.shown {
    max-height: 185px;
}

#background-texture-color-option.shown {
    max-height: 60px;
}

/* Dropdowns: Time & Date Options */

#time_options.shown {
    max-height: 920px;
}

#digital_options.shown {
    max-height: 240px;
}

#analog_options.shown {
    max-height: 280px;
}

/* Dropdowns: Quicklinks Options */

#quicklinks_options.shown {
    max-height: 423px;
}

#linkgroups_options.shown {
    max-height: 420px;
}

/* Dropdowns: Settings management Options */

#disabled-sync.shown {
    max-height: 105px;
}

#url-sync.shown {
    max-height: 220px;
}

#gist-sync.shown {
    max-height: 220px;
}

/* Dropdowns: All settings */

.all .as_visuals {
    max-height: 285px;
}

.all .as_provider.shown {
    max-height: 120px;
}

.all .as_video_sound {
    max-height: 60px;
}

.all .as_texture {
    max-height: 245px;
}

.all .as_fadein {
    max-height: 60px;
}

.all .as_link {
    max-height: 360px;
}

.all .as_collection {
    max-height: 130px;
}

.all .as_timedate {
    max-height: 430px;
}

.all .as_clocktype {
    max-height: 300px;
}

.all .as_fonts {
    max-height: 350px;
}

.all .as_css {
    max-height: 3100px;
    padding-top: 4px;
}

.all .as_updates {
    max-height: 280px;
    display: none !important;
}

.all .as_sync {
    max-height: 280px;
}
