/*  Favicons  */

#i_favicon {
    width: 33%;
    padding: 0;
    text-align: center;
}

#i_favicon::placeholder {
    opacity: 0.7;
    filter: grayscale(0.35);
}

#i_tabtitle {
    width: 100%;
}

/*  Links  */

#i_city {
    text-transform: capitalize;
}

#quotes_userlist .wrapper {
    flex-wrap: wrap;
}

#i_customfont {
    text-transform: capitalize;
}

#i_weight option.hidden {
    display: none;
}

#e_weight,
#e_size {
    width: 50px;
}
